USE [master]
GO
/****** Object:  Database [Football]    Script Date: 8/11/2023 11:37:37 PM ******/
CREATE DATABASE [Football]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Football', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Football.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Football_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Football_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Football].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Football]
GO
USE [Football]
GO
/****** Object:  Table [dbo].[All_Fixtures]    Script Date: 8/11/2023 11:37:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[All_Fixtures](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MatchDateTime] [datetime] NULL,
	[Venue] [varchar](max) NULL,
	[Home_Team] [varchar](max) NULL,
	[Home_Score] [int] NULL,
	[Away_Score] [int] NULL,
	[Away_Team] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 8/11/2023 11:37:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[Id] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[League]    Script Date: 8/11/2023 11:37:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[League](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matches]    Script Date: 8/11/2023 11:37:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matches](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Team1_ID] [int] NULL,
	[Team2_ID] [int] NULL,
	[MatchDatetime] [datetime] NULL,
	[Team1_Goal] [int] NULL,
	[Team1_Foul] [int] NULL,
	[Team1_Red] [int] NULL,
	[Team1_Yellow] [int] NULL,
	[Team1_Possession] [int] NULL,
	[Team2_Goal] [int] NULL,
	[Team2_Foul] [int] NULL,
	[Team2_Red] [int] NULL,
	[Team2_Yellow] [int] NULL,
	[Team2_Possession] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 8/11/2023 11:37:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](max) NULL,
	[images] [varchar](max) NULL,
	[Description] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Player]    Script Date: 8/11/2023 11:37:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Player](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Weight] [nvarchar](50) NULL,
	[Height] [nvarchar](50) NULL,
	[Age] [int] NULL,
	[Jersey] [int] NULL,
	[Position] [nvarchar](50) NULL,
	[TeamID] [int] NULL,
	[ImageName] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayerGoal]    Script Date: 8/11/2023 11:37:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerGoal](
	[P] [varchar](200) NULL,
	[G] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayerStatistics]    Script Date: 8/11/2023 11:37:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerStatistics](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Playerid] [int] NULL,
	[Appearances] [int] NULL,
	[TotalPlayTime] [int] NULL,
	[FaulsCommitted] [int] NULL,
	[OwnGoals] [int] NULL,
	[offsides] [int] NULL,
	[RedCards] [int] NULL,
	[YellowCards] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayerStatsExport]    Script Date: 8/11/2023 11:37:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerStatsExport](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Player_Name] [varchar](max) NULL,
	[AveragePlayTime] [varchar](50) NULL,
	[FoulsCommitted] [varchar](50) NULL,
	[OffSides] [varchar](50) NULL,
	[RedCards] [varchar](50) NULL,
	[YellowCards] [varchar](50) NULL,
	[Weight] [varchar](max) NULL,
	[Height] [varchar](max) NULL,
	[Age] [varchar](max) NULL,
	[Jersey] [varchar](max) NULL,
	[Position] [varchar](max) NULL,
	[Appearance] [varchar](max) NULL,
	[Total_playtime] [varchar](max) NULL,
	[Team_Name] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 8/11/2023 11:37:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Description] [varchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Season]    Script Date: 8/11/2023 11:37:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Season](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LeagueID] [int] NULL,
	[Name] [nchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Team]    Script Date: 8/11/2023 11:37:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Team](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SeasonID] [nvarchar](50) NULL,
	[TeamName] [nvarchar](50) NULL,
	[TeamFlagImage] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeamStatistics]    Script Date: 8/11/2023 11:37:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamStatistics](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TeamID] [int] NULL,
	[HomeGoal] [int] NULL,
	[AwayGoal] [int] NULL,
	[FaulsCommiteed] [int] NULL,
	[RedCards] [int] NULL,
	[YellowCards] [int] NULL,
	[AwayTeam] [varchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeamStatsExport]    Script Date: 8/11/2023 11:37:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamStatsExport](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Team] [varchar](max) NULL,
	[Home_Team] [varchar](max) NULL,
	[Home_Goal] [varchar](50) NULL,
	[Away_Goal] [varchar](50) NULL,
	[Away_Team] [varchar](max) NULL,
	[FoulsCommitted] [varchar](50) NULL,
	[yellowCards] [varchar](50) NULL,
	[redCards] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[All_Fixtures] ON 

INSERT [dbo].[All_Fixtures] ([Id], [MatchDateTime], [Venue], [Home_Team], [Home_Score], [Away_Score], [Away_Team]) VALUES (623, CAST(N'2022-07-02T08:00:00.000' AS DateTime), N'St. Marys Stadium', N'Southampton', 0, 2, N'Brentford')
INSERT [dbo].[All_Fixtures] ([Id], [MatchDateTime], [Venue], [Home_Team], [Home_Score], [Away_Score], [Away_Team]) VALUES (624, CAST(N'2022-07-02T08:00:00.000' AS DateTime), N'Amex Stadium', N'Brighton & Hove Albion', 1, 0, N'Crystal Palace')
INSERT [dbo].[All_Fixtures] ([Id], [MatchDateTime], [Venue], [Home_Team], [Home_Score], [Away_Score], [Away_Team]) VALUES (625, CAST(N'2022-08-05T15:00:00.000' AS DateTime), N'Selhurst Park', N'Crystal Palace', 0, 2, N'Arsenal')
GO
SET IDENTITY_INSERT [dbo].[All_Fixtures] OFF
GO
SET IDENTITY_INSERT [dbo].[League] ON 

INSERT [dbo].[League] ([ID], [Name]) VALUES (1, N'English Premier League')
INSERT [dbo].[League] ([ID], [Name]) VALUES (2, N'English Premier League')
SET IDENTITY_INSERT [dbo].[League] OFF
GO
SET IDENTITY_INSERT [dbo].[Matches] ON 

INSERT [dbo].[Matches] ([ID], [Team1_ID], [Team2_ID], [MatchDatetime], [Team1_Goal], [Team1_Foul], [Team1_Red], [Team1_Yellow], [Team1_Possession], [Team2_Goal], [Team2_Foul], [Team2_Red], [Team2_Yellow], [Team2_Possession]) VALUES (1, 17, 4, CAST(N'2022-07-02T08:00:00.000' AS DateTime), 0, 0, 0, 0, 0, 2, 0, 0, 0, 0)
INSERT [dbo].[Matches] ([ID], [Team1_ID], [Team2_ID], [MatchDatetime], [Team1_Goal], [Team1_Foul], [Team1_Red], [Team1_Yellow], [Team1_Possession], [Team2_Goal], [Team2_Foul], [Team2_Red], [Team2_Yellow], [Team2_Possession]) VALUES (2, 5, 7, CAST(N'2022-07-02T08:00:00.000' AS DateTime), 1, 0, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[Matches] ([ID], [Team1_ID], [Team2_ID], [MatchDatetime], [Team1_Goal], [Team1_Foul], [Team1_Red], [Team1_Yellow], [Team1_Possession], [Team2_Goal], [Team2_Foul], [Team2_Red], [Team2_Yellow], [Team2_Possession]) VALUES (3, 7, 2, CAST(N'2022-08-05T15:00:00.000' AS DateTime), 0, 0, 0, 0, 0, 2, 0, 0, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[Matches] OFF
GO
SET IDENTITY_INSERT [dbo].[Player] ON 

INSERT [dbo].[Player] ([ID], [Name], [Weight], [Height], [Age], [Jersey], [Position], [TeamID], [ImageName]) VALUES (1, N'Erling Haaland', N'192 lbs', N'1.93', 23, 9, N'Forward', 13, N'')
INSERT [dbo].[Player] ([ID], [Name], [Weight], [Height], [Age], [Jersey], [Position], [TeamID], [ImageName]) VALUES (2, N'Harry Kane', N'190 lbs', N'1.88', 30, 10, N'Forward', 18, N'')
INSERT [dbo].[Player] ([ID], [Name], [Weight], [Height], [Age], [Jersey], [Position], [TeamID], [ImageName]) VALUES (3, N'Ivan Toney', N'152 lbs', N'1.78', 27, 17, N'Forward', 4, N'')
GO
SET IDENTITY_INSERT [dbo].[Player] OFF
GO
INSERT [dbo].[PlayerGoal] ([P], [G]) VALUES (N'Erling Haaland', N'36')
INSERT [dbo].[PlayerGoal] ([P], [G]) VALUES (N'Harry Kane', N'30')
INSERT [dbo].[PlayerGoal] ([P], [G]) VALUES (N'Ivan Toney', N'20')
GO
SET IDENTITY_INSERT [dbo].[PlayerStatistics] ON 

INSERT [dbo].[PlayerStatistics] ([ID], [Playerid], [Appearances], [TotalPlayTime], [FaulsCommitted], [OwnGoals], [offsides], [RedCards], [YellowCards]) VALUES (1, 1, 35, 2924, 31, 36, 6, 0, 5)
INSERT [dbo].[PlayerStatistics] ([ID], [Playerid], [Appearances], [TotalPlayTime], [FaulsCommitted], [OwnGoals], [offsides], [RedCards], [YellowCards]) VALUES (2, 2, 38, 3627, 27, 30, 7, 0, 6)
INSERT [dbo].[PlayerStatistics] ([ID], [Playerid], [Appearances], [TotalPlayTime], [FaulsCommitted], [OwnGoals], [offsides], [RedCards], [YellowCards]) VALUES (3, 3, 33, 3149, 52, 20, 7, 0, 9)
GO
SET IDENTITY_INSERT [dbo].[PlayerStatistics] OFF
GO
SET IDENTITY_INSERT [dbo].[PlayerStatsExport] ON 

INSERT [dbo].[PlayerStatsExport] ([Id], [Player_Name], [AveragePlayTime], [FoulsCommitted], [OffSides], [RedCards], [YellowCards], [Weight], [Height], [Age], [Jersey], [Position], [Appearance], [Total_playtime], [Team_Name]) VALUES (1, N'Erling Haaland', N'84.5', N'31', N'6', N'0', N'5', N'192 lbs', N'1.93', N'23', N'9', N'Forward', N'35', N'2924', N'Manchester City')
INSERT [dbo].[PlayerStatsExport] ([Id], [Player_Name], [AveragePlayTime], [FoulsCommitted], [OffSides], [RedCards], [YellowCards], [Weight], [Height], [Age], [Jersey], [Position], [Appearance], [Total_playtime], [Team_Name]) VALUES (2, N'Harry Kane', N'96.4', N'27', N'7', N'0', N'6', N'190 lbs', N'1.88', N'30', N'10', N'Forward', N'38', N'3627', N'Tottenham Hotspur')
INSERT [dbo].[PlayerStatsExport] ([Id], [Player_Name], [AveragePlayTime], [FoulsCommitted], [OffSides], [RedCards], [YellowCards], [Weight], [Height], [Age], [Jersey], [Position], [Appearance], [Total_playtime], [Team_Name]) VALUES (3, N'Ivan Toney', N'96.4', N'52', N'7', N'0', N'9', N'152 lbs', N'1.78', N'27', N'17', N'Forward', N'33', N'3149', N'Brentford')
GO
SET IDENTITY_INSERT [dbo].[PlayerStatsExport] OFF
GO
SET IDENTITY_INSERT [dbo].[Season] ON 

INSERT [dbo].[Season] ([ID], [LeagueID], [Name]) VALUES (1, 1, N'2022-2023                                         ')
SET IDENTITY_INSERT [dbo].[Season] OFF
GO
SET IDENTITY_INSERT [dbo].[Team] ON 

INSERT [dbo].[Team] ([ID], [SeasonID], [TeamName], [TeamFlagImage]) VALUES (1, N'1', N'AFC Bournemouth', N'')
INSERT [dbo].[Team] ([ID], [SeasonID], [TeamName], [TeamFlagImage]) VALUES (2, N'1', N'Arsenal', N'')
INSERT [dbo].[Team] ([ID], [SeasonID], [TeamName], [TeamFlagImage]) VALUES (3, N'1', N'Aston Villa', N'')
SET IDENTITY_INSERT [dbo].[Team] OFF
GO
SET IDENTITY_INSERT [dbo].[TeamStatistics] ON 

INSERT [dbo].[TeamStatistics] ([ID], [TeamID], [HomeGoal], [AwayGoal], [FaulsCommiteed], [RedCards], [YellowCards], [AwayTeam]) VALUES (1, 1, 20, 17, 379, 0, 66, N'')
INSERT [dbo].[TeamStatistics] ([ID], [TeamID], [HomeGoal], [AwayGoal], [FaulsCommiteed], [RedCards], [YellowCards], [AwayTeam]) VALUES (2, 2, 53, 35, 373, 0, 52, N'')
INSERT [dbo].[TeamStatistics] ([ID], [TeamID], [HomeGoal], [AwayGoal], [FaulsCommiteed], [RedCards], [YellowCards], [AwayTeam]) VALUES (3, 3, 33, 18, 417, 1, 80, N'')
SET IDENTITY_INSERT [dbo].[TeamStatistics] OFF
GO
SET IDENTITY_INSERT [dbo].[TeamStatsExport] ON 

INSERT [dbo].[TeamStatsExport] ([Id], [Team], [Home_Team], [Home_Goal], [Away_Goal], [Away_Team], [FoulsCommitted], [yellowCards], [redCards]) VALUES (1, N'Crystal Palace', N'Crystal Palace', N'0', N'2', N'Arsenal', N'16', N'1', N'0')
INSERT [dbo].[TeamStatsExport] ([Id], [Team], [Home_Team], [Home_Goal], [Away_Goal], [Away_Team], [FoulsCommitted], [yellowCards], [redCards]) VALUES (2, N'Arsenal', N'Crystal Palace', N'0', N'2', N'Arsenal', N'11', N'2', N'0')
INSERT [dbo].[TeamStatsExport] ([Id], [Team], [Home_Team], [Home_Goal], [Away_Goal], [Away_Team], [FoulsCommitted], [yellowCards], [redCards]) VALUES (3, N'Fulham', N'Fulham', N'2', N'2', N'Liverpool', N'7', N'2', N'0')
GO
SET IDENTITY_INSERT [dbo].[TeamStatsExport] OFF
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
USE [master]
GO
